body 
{ color: #932432; 
	margin: 10px; 
	padding: 0px; background: #e2e9f6; } 


h1 
{ 
	
	 
	font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif; 
	font-size: 30px;
	font-weight: 100;
	color: #557669;
	text-align: center;
	

}

